
*{
    font-family: serif;
}
body{
    background-color: rgb(248, 103, 193);
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.minha-coluna1 {
    background-image: url("../../midia/fundologo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.minha-coluna1 .minha-logo{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
}


.tema {
    text-align: center;
    margin-bottom: 5%;
    
  
}
.textpage2 {
    text-align: center;
    color: white;
    
    
  
}
.item {
    display: flex;
   justify-content: center;
}

.item1 {
    display: flex;
   justify-content: center;
}

.text {
    display: block;
   text-align: center;
   padding-left: 5%;
}

.text2 {
    display: flex;
   text-align: top;
}

.page2 {
    border: 1px ;
    height: 400px;
    background-color: rgb(248, 103, 193);
    align-items: center;
    justify-content: left;
    display: flex;
    
}

.textpage3{
    padding-top: 6%;
    text-align: left;
    color: white;

}
.titulopage3{
    margin-top: 1%;
    margin-bottom: 5%;
    text-align: left;
    color: black;
}

.text4{
    background-color: palevioletred;
    padding-top: 8%;
    text-align: left;
    color: black;
    
}

.page3fundo{
    background-image: url("../../midia/fundologo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    
}


.coluna-4 {
    border: 1px ;
    height: 50px;
    background-color: rgb(212, 212, 236);
    align-items: center;
    justify-content: center;
    display: flex;


}

.minha-coluna4 {
    border: 1px ;
    height: 400px;
    background-color: gray;
    align-items: center;
    justify-content: right;
    display: flex;
    
    
    
}
.minha-coluna5 {
    border: 1px ;
    height: 400px;
    background-color: palevioletred;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
    
}
.page5{
    border: 1px ;
    height: 400px;
    background-color: gray;
    align-items: center;
    justify-content: left;
    display: flex;

}
.titulopage5{
   text-align: center;
   padding-top: 1%;
   padding-bottom: 1%;
   color: white;

}

.textpage5{
 text-align: center;
 padding-top: 1%;
}
.minha-coluna6 {
    border: 1px ;
    height: 200px;
    background-color: gray;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
    
}
.pagefinal{
   
    display: grid;
    align-items: center;
    justify-content: center;
     color: white;
   
   }
.titulopagefinal{
    text-align: center;
    padding-top: 3%;

}
.formulario{
    padding-bottom: 5%;
}
.textpagefinal{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
   }

.minha-coluna-icons {
    margin-top: 5%;
    margin-bottom: 2%;
    align-items: center;
}
.imgperfil{
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
.imgrodape{
    display: flex;
    align-items: left;
    text-align: right;

}

.textrodapefinal{
    text-align: right;
    
    
}